.footer{
    border-top: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgb(238, 96, 96);
    align-items: center;
}
 
.about{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 25rem;
    font-size: 0.7rem;
    align-items: center; 
}
.comunity-adress{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center; 
    justify-items: center;
     
}
.footer-adress{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 0.7rem;
    width: 10rem;
}
.footer-comunity{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 0.7rem;
    align-items: center; 
}

.comunity-container-items{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center; 
}
#footer{
    grid-area: footer;
}
#footer-about-title{
    font-size: 1.5rem;
    justify-content: start;
}
#footer-adress-title{
    font-size: 1.5rem;
}
#footer-comunity-title{

    font-size: 1.5rem;
}

.about, .footer-adress, .footer-comunity {
    display: flex;
    
    
}
.about, .footer-comunity {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 25rem;
    font-size: 0.7rem;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column; /* Cambiar a diseño de columna */
        align-items: center; /* Centrar elementos */
        justify-content: center;
    }
    
    .about, .footer-adress, .footer-comunity {
        width: auto; /* Ancho automático */
        text-align: center; /* Centrar texto */
    }
}

 
