.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(238, 96, 96);
    padding-inline: 1rem;
    align-items: center;
    border-bottom: 2px solid black;
}

#navbar{
    grid-area: nav;
}

.favicon-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.favicon-container h1{
    font-style: normal;
    text-decoration: none;
    background-color: rgb(238, 96, 96);
    
}

.navbar button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    background-color:  rgb(238, 96, 96);
    
}

.navbar .favicon-container .title-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background-color: rgb(238, 96, 96);
}

img{
    height: 6vh;
    width: 6vh;
    cursor: pointer;
}

.navbar h1 {
    font-size: 1rem;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .navbar {
        display: flex;
        flex-direction: column;
        background-color:  rgb(238, 96, 96);
        align-items: center;
        margin: 0 0 2rem 0;
        border-bottom: none; /* Eliminar la línea negra en dispositivos móviles */
        padding: 1rem;
        height: fit-content;
    }

    .navbar button {
        margin-top: 1rem; /* Añadir margen superior a los botones en dispositivos móviles */
    }
}
 