.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding-inline: 1rem;
    align-items: center;
}

#navbar{
    grid-area: nav;
}

.favicon-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.favicon-container h1{
    font-style: normal;
    text-decoration: none;
}

.navbar button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.navbar .favicon-container .title-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

img{
    height: 6vh;
    width: 6vh;
    cursor: pointer;
}

.navbar h1 {
    font-size: 1rem;
}

@media (max-width: 767px) {
    .navbar{
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        align-items: center;
        margin: 2rem 0;
    }
}