.carrusel{
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.results-container{
    display: grid;
    grid-template-rows: 26vh;
    grid-template-columns: 20% 1fr 20%;
    align-items: center;
}

.arrow-container{

}

.results{
    display: flex; 
    scroll-margin-inline-start: initial;  
    flex-direction: row;
    overflow-x: scroll;
    gap: 24px;
}