.carrussel{
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.results-container{
    display: grid;
    grid-template-rows: 26vh;
    grid-template-columns: 10% 1fr 10%;
    align-items: center;
}



.results{
    display: flex; 
    scroll-margin-inline-start: initial;  
    flex-direction: row;
    overflow-x: scroll;
    gap: 24px;
}


@media (max-width: 767px) {
    
}