.user-data-container{
    display: flex;
    flex-direction: column;
    
    margin: 2rem; /* Ajustar el margen para dispositivos móviles */
    padding: 1rem; /* Ajustar el padding para dispositivos móviles */
    align-items: start;
    background-color: white;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    border: none;
    border-radius: 8px;
    gap: 12px;
}

.user-data-container div{
    font-size: 14px;
    background-color: rgb(247, 245, 243);
}

.user-data-container button{
    font-size: 0.8rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.user-data-container button img{
    height: 1rem;
    width: 1rem;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .user-data-container {
        margin: 1rem; /* Ajustar el margen para dispositivos móviles */
        padding: 0.5rem; /* Ajustar el padding para dispositivos móviles */
    }

    .user-data-container div {
        font-size: 12px; /* Reducir el tamaño de fuente para dispositivos móviles */
    }
}

