.carrussel{
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.results-container{
    display: grid;
     
    grid-template-columns: 10% 1fr 10%;
    align-items: center;
}



.results{
    display: flex; 
    scroll-margin-inline-start: initial;  
    flex-direction: row;
    overflow-x: scroll;
    gap: 24px;
}


 /* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .carrussel {
        font-size: 0.8rem; /* Tamaño de fuente más pequeño */
        max-width: 80%; /* Ancho máximo más pequeño */
    }
}