.searchpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.sort{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.sort-container div select option{
    border: none;
    background-color: white;
}

.sort-container  div select{
    border: none;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    height: 6vh;
    width: 8vw;
    padding: 1vh;
    border-radius: 8px;
    flex-wrap: wrap;
}

.sort-container{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;

}

.text-area{
    display: flex;
    gap: 12px;
}

.error-message {
    color: red; 
  }

