#root {
  min-height: 100dvh;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-areas: 
  "nav"
  "main"
  "footer"
  ;
}

#main{
  grid-area: main;
}


@media (max-width: 767px) {
  #root{

    min-width: 100dvw;
    min-height: 150dvh;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer"
    ;

  }
  #main{
    grid-area: main;
    width: 100dvw;
  }

}